$grid-breakpoints: (
  xs: 375px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$color-bg: #ecf2f8;
$color-text-neutral: #48556a;
$color-text-primary: #cfcfcf;
$color-text-secondary: #fff;

$color-neutral: #fff;
$color-primary: #733fc8;
$color-secondary: #48556a;
$color-tertiary: #19202d;
